
<nav class="navbar sticky-top bg-custom"> 
  <a class="btn-header px-3 ab" id="home-btn" href="#">cosas</a>
  <a class="btn-header px-3 cd" href="#">que</a>
  <a class="btn-header px-3 ef" href="#">te interesan</a>
  <a class="btn-header px-3 gh" id="home-btn" href="#">cosas</a>
  <a class="btn-header px-3 ij" href="#">que</a>
  <a class="btn-header px-3 kl" href="#">te interesan</a>
  <a class="btn-header px-3 op" id="home-btn" href="#">cosas</a>
  <a class="btn-header px-3 qr" href="#">que</a>
  <a class="btn-header px-3 st" href="#">te interesan</a>
  <a class="btn-header px-3 uv" id="home-btn" href="#">cosas</a>
  <a class="btn-header px-3 wx" href="#">que</a>  
</nav>