.ab{
  margin: 0;
  padding: 8px;
  background-color: #ca7351;
  color:white;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  position: relative;
  float: right;
  border-radius: 10px;
  text-decoration: none;
  width: 100px;
  height: 55px;
}
.cd{
  margin: 0;
  padding: 8px;
  background-color: #AA8064;
  color:white;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  position: relative;
  float: right;
  border-radius: 10px;
  text-decoration: none;
  width: 100px;
  height: 55px;
}
.ef{
  margin: 0;
  padding: 8px;
  background-color: #cbcbcb;
  color:white;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  position: relative;
  float: right;
  border-radius: 10px;
  text-decoration: none;
  width: 100px;
  height: 55px;
}
.gh{
  margin: 0;
  padding: 8px;
  background-color: #B2AD9D;
  color:white;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  position: relative;
  float: right;
  border-radius: 10px;
  text-decoration: none;
  width: 100px;
  height: 55px;
}
.ij{
  margin: 0;
  padding: 8px;
  background-color: #a0a0a2;
  color:white;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  position: relative;
  float: right;
  border-radius: 10px;
  text-decoration: none;
  width: 100px;
  height: 55px;
}
.kl{
  margin: 0;
  padding: 8px;
  background-color: #CBCBE3;
  color:white;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  position: relative;
  float: right;
  border-radius: 10px;
  text-decoration: none;
  width: 100px;
  height: 55px;
}
.op{
  margin: 0;
  padding: 8px;
  background-color: #443022;
  color:white;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  position: relative;
  float: right;
  border-radius: 10px;
  text-decoration: none;
  width: 100px;
  height: 55px;
}
.qr{
  margin: 0;
  padding: 8px;
  background-color: #A0736A;
  color:white;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  position: relative;
  float: right;
  border-radius: 10px;
  text-decoration: none;
  width: 100px;
  height: 55px;
}
.st{
  margin: 0;
  padding: 8px;
  background-color: #c9b7b8;
  color:white;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  position: relative;
  float: right;
  border-radius: 10px;
  text-decoration: none;
  width: 100px;
  height: 55px;
}
.uv{
  margin: 0;
  padding: 8px;
  background-color: #CEB1A8;
  color:white;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  position: relative;
  float: right;
  border-radius: 10px;
  text-decoration: none;
  width: 100px;
  height: 55px;
}
.wx{
  margin: 0;
  padding: 8px;
  background-color: #DD9672;
  color:white;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  position: relative;
  float: right;
  border-radius: 10px;
  text-decoration: none;
  width: 100px;
  height: 55px;
}






