.container-fluid{
  display: block;
}
.btnIconPin{
  border-radius: 45px;
  background-color: white;
  border:none;
  height: 45px;
  width: 45px;
  margin: 0.8%;
  position: relative;
    
}
.btnIconPin:hover{
  background-color: #f0f0f0;
}
img{
  height: 28px;
  width: 28px;
  border-radius: 45px;
  color:#bd081c;
}
.input-group-text{
  background-color:#f0f0f0;
  border: none; 
}
.form{
  width: 85vh;  
  border-radius: 4px;
  border: none;
  background-color: #f0f0f0;
  border-left: none;
  font-weight: 600;
  height: 7vh;
  font-size: 3vh;
  position: relative;
  display: inline-block;
}
